/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
*/
.AniLib {
  display: block;
  margin: auto;
}

.Ani-text {
  text-align: center;
}

.results {
  width: 400px;
  box-shadow: 1px 1px 3px #000;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
}

.input-box {
  margin: auto;
  display: block;
  width:400px
}

.buttons {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.submit-button {
  margin-right: 15px;
}

.reset-button {
  margin-left: 15px;
}